{% extends 'layout/base_no_sidebar.html' %}

{% block title %} grimaimcode.com | Grimaim Code {% endblock %}

{% block content %}
<div class="flex justify-center">
  <main class="content flex justify-center no-scrollbar w-full scroll-smooth transition-all duration-300 lg:min-h-screen">
    <div class="container-blog p-4 md:p-8 font-sora">
      <div class="mb-10 mt-2 aos-init aos-animate" data-aos="fade-up">
        <div class="w-fit">
          <a data-testid="back-button-url" href="/projects">
            <div class="flex gap-2 w-max hover:gap-3 items-center pb-5 transition-all duration-300 font-medium text-neutral-600 dark:text-neutral-400 cursor-pointer">
              <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" data-testid="back-icon" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 8 8 12 12 16"></polyline>
                <line x1="16" y1="12" x2="8" y2="12"></line>
              </svg>
              <span>Back</span>
            </div>
          </a>
        </div>
        <h1 class="text-2xl font-medium font-sora text-neutral-800 dark:text-neutral-300">{{ project_data['title'] }}</h1>
        <p class="mb-6 border-b border-dashed border-neutral-600 pt-2 pb-6 text-neutral-600 dark:text-neutral-400">{{ project_data['description'] }}</p>
        <div class="space-y-8">
          <div class="flex flex-col lg:flex-row items-start lg:items-center sm:flex-row gap-5 justify-between">
            <div class="flex items-center flex-wrap gap-2">
              <span class="text-[15px] mb-1 text-neutral-700 dark:text-neutral-300">Tech Stack :</span>
              <div class="flex flex-wrap items-center gap-3">
                {{ project_data['tech_stack'] | safe }}
              </div>
            </div>
            <div class="flex gap-4">
              <a target="_blank" data-umami-event="Click Source Code - Project grimaimcode.com" href="">
                <div class="flex gap-2 items-center font-medium text-neutral-700 dark:text-neutral-300 ">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                  </svg>
                  <span class="text-[15px] dark:text-teal-500 hover:dark:text-teal-400 transition-all duration-300">Source Code</span>
                </div>
              </a>
              <span class="text-neutral-400 dark:text-neutral-600">|</span>
              <a target="_blank" data-umami-event="Click Live Demo - Project grimaimcode.com" href="">
                <div class="flex gap-2 items-center font-medium text-neutral-700 dark:text-neutral-300 ">
                  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                    <polyline points="15 3 21 3 21 9"></polyline>
                    <line x1="10" y1="14" x2="21" y2="3"></line>
                  </svg>
                  <span class="text-[15px] dark:text-teal-500 hover:dark:text-teal-400 transition-all duration-300">Live Demo</span>
                </div>
              </a>
            </div>
          </div>
          <div class="overflow-hidden">
            <img 
              alt="grimaimcode.com" 
              loading="lazy" 
              width="800" 
              height="400" 
              decoding="async" 
              data-nimg="1" 
              class="duration-700 ease-in-out scale-100 blur-0 grayscale-0 w-full" 
              style="color: transparent;"
              srcset="{{ url_for('static', filename='images/projects/' + project_data['image']) }}" 
            />
          </div>
          <div class="mt-5 space-y-6 leading-[1.8] dark:text-neutral-300">
            
          {% for project in project_contents_data %}
            <div class="space-y-4">
              {% if project.heading %}
                <h2 class="text-xl font-medium dark:text-neutral-300" level="2" node="[object Object]">{{ project.heading }}</h2>
              {% endif %}
              <div node="[object Object]">{{ project.desc }}</div>
              <div node="[object Object]">{{ project.desc1 }}</div>
              <div node="[object Object]">{{ project.desc2 }}</div>
              <div node="[object Object]">{{ project.desc3 }}</div>
              <div node="[object Object]">{{ project.desc4 }}</div>

              {% if project.step %}
                {% for step in project.step %}
                  <h3 class="text-[18px] font-medium leading-snug dark:text-neutral-300" level="3" node="[object Object]">{{ loop.index }}. {{ step }}</h3>
                  {% if loop.index == 1 %}
                    <div node="[object Object]">Copy the <strong>grimaimcode.com</strong> repository from GitHub to your computer by using the command below in the terminal or command prompt:</div>
                    <div class="relative mx-auto pb-4">
                      <div class="bg-code p-2 rounded-md pl-4">
                        <div class="flex justify-between">
                          <div class="overflow-x-auto flex items-center">
                            <pre id="code-1"><code class="language-bash">git clone https://github.com/grimaimm/grimaimcode.com.git</code></pre>
                          </div>
                          <div class="left">
                            <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-1">
                              <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% elif loop.index == 2 %}
                    <div node="[object Object]">Open a terminal or command prompt, then go to the project directory you just cloned with the command:</div>
                    <div class="relative mx-auto pb-4">
                      <div class="bg-code p-2 rounded-md pl-4">
                        <div class="flex justify-between">
                          <div class="overflow-x-auto flex items-center">
                            <pre id="code-2"><code class="language-bash">cd grimaimcode.com</code></pre>
                          </div>
                          <div class="left">
                            <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-2">
                              <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% elif loop.index == 3 %}
                    <div node="[object Object]">Create a Python virtual environment for this project to isolate its dependencies. Use the following command:</div>
                    <ol class="font-sora list-disc dark:text-neutral-300 space-y-3 pb-2 pl-5" depth="0" node="[object Object]">
                      <li class="leading-snug">If you use venv (Python 3.3+):</li>
                      <div class="relative mx-auto pb-4">
                        <div class="bg-code p-2 rounded-md pl-4">
                          <div class="flex justify-between">
                            <div class="overflow-x-auto flex items-center">
                              <pre id="code-3v1"><code class="language-bash">python -m venv venv</code></pre>
                            </div>
                            <div class="left">
                              <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-3v1">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <li class="leading-snug">Activate virtual environment:</li>
                      <ol class="font-sora list-disc dark:text-neutral-300 space-y-3 pb-2 pl-5" depth="0" node="[object Object]">
                        <li class="leading-snug">Windows:</li>
                        <div class="relative mx-auto pb-4">
                          <div class="bg-code p-2 rounded-md pl-4">
                            <div class="flex justify-between">
                              <div class="overflow-x-auto flex items-center">
                                <pre id="code-3v2"><code class="language-bash">venv\Scripts\activate</code></pre>
                              </div>
                              <div class="left">
                                <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-3v2">
                                  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <li class="leading-snug">macOS/Linux:</li>
                        <div class="relative mx-auto">
                          <div class="bg-code p-2 rounded-md pl-4">
                            <div class="flex justify-between">
                              <div class="overflow-x-auto flex items-center">
                                <pre id="code-3v3"><code class="language-bash">source venv/bin/activate</code></pre>
                              </div>
                              <div class="left">
                                <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-3v3">
                                  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ol>
                    </ol>
                  {% elif loop.index == 4 %}
                    <div node="[object Object]">Install all dependencies required by the Flask project. Make sure you are in a virtual environment before running this command:</div>
                    <div class="relative mx-auto pb-4">
                      <div class="bg-code p-2 rounded-md pl-4">
                        <div class="flex justify-between">
                          <div class="overflow-x-auto flex items-center">
                            <pre id="code-4"><code class="language-bash">pip install -r requirements.txt</code></pre>
                          </div>
                          <div class="left">
                            <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-4">
                              <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% elif loop.index == 5 %}
                    <div node="[object Object]">Finally, run the Flask application with the command:</div>
                    <div class="relative mx-auto pb-4">
                      <div class="bg-code p-2 rounded-md pl-4">
                        <div class="flex justify-between">
                          <div class="overflow-x-auto flex items-center">
                            <pre id="code-5"><code class="language-bash">python run.py</code></pre>
                          </div>
                          <div class="left">
                            <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-5">
                              <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div node="[object Object]">Now you can open the browser and access the Flask application via <a href="http://localhost:5000" target="_blank" class="cursor-pointer text-teal-500 hover:text-teal-400 hover:underline">http://localhost:5000</a> or the URL displayed in the terminal after executing the above command.</div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
          <div class="border-t border-gray-200 dark:border-neutral-800 !my-10" data-testid="breakline"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}