{% extends 'layout/base_no_sidebar.html' %}

{% block title %}Exploring the World of Programming{% endblock %}

{% block content %}
<div class="flex justify-center">
  <main class="content flex justify-center no-scrollbar w-full scroll-smooth transition-all duration-300 lg:min-h-screen">
    <div class="container-blog p-4 md:p-8 font-sora">
      <div class="mb-10 mt-2 aos-init aos-animate" data-aos="fade-up">
        <div class="w-fit">
          <a data-testid="back-button-url" href="/blog">
            <div class="flex gap-2 w-max hover:gap-3 items-center pb-5 transition-all duration-300 font-medium text-neutral-600 dark:text-neutral-400 cursor-pointer">
              <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" data-testid="back-icon" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 8 8 12 12 16"></polyline>
                <line x1="16" y1="12" x2="8" y2="12"></line>
              </svg>
              <span>Back</span>
            </div>
          </a>
        </div>
        <h1 class="text-2xl font-semibold font-sora text-neutral-800 dark:text-neutral-300" style="opacity: 1; transform: none;">{{ blog_data['title'] }}</h1>
        <div class="flex flex-col sm:flex-row gap-2 justify-between mb-6 pt-5 pb-6 border-b border-dashed border-neutral-600 text-neutral-600 dark:text-neutral-400 text-[14px]">
          <div>Published on <span class="px-1 font-medium">{{ blog_data['published'].strftime('%B %d, %Y') }}</span>
          </div>
          <div class="flex items-center gap-5">
            <div class="flex gap-1 items-center font-medium">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z"></path>
              </svg>
              <div class="flex gap-1 ml-0.5">
                <span>{{ views }}</span>
                <span>Views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-6 leading-[1.8] dark:text-neutral-300">
          <div class="overflow-hidden">
            <img 
              alt="{{ blog_data['title'] }}" 
              fetchpriority="high" 
              width="800" 
              height="500" 
              decoding="async" 
              data-nimg="1" 
              class="transition-all duration-700 hover:scale-105" 
              style="color: transparent;"
              src="{{ url_for('static', filename='images/blogs/one/blog-one.png') }}"
            />
          </div>
          <div class="font-sora" node="[object Object]">
            In this article, we'll provide a comprehensive guide to explaining programming, helping you answer the question, what is programming? We'll also cover the distinctions between computer programming and coding, define programming languages, explore the benefits of programming, and offer some useful tips for beginners looking to get started.
          </div>

          <!-- Start Blockquote One -->
          <blockquote class="rounded-br-2xl border-l-[5px] border-neutral-700 border-l-cyan-500 bg-neutral-200 py-3 pl-3 lg:pl-6 font-sora text-lg font-medium text-cyan-800 dark:bg-neutral-800 dark:text-cyan-200" node="[object Object]">
            <h2 class="text-xl font-medium dark:text-neutral-300" level="2" node="[object Object]">What is Programming?</h2>
          </blockquote>
          <div class="font-sora" node="[object Object]">
            Let's begin with a straightforward definition of programming. Programming entails providing instructions to computers to execute tasks. These tasks could range from simple actions like displaying the sum of two numbers to tackling complex challenges such as operating self-driving cars.
          </div>
          <div class="font-sora" node="[object Object]">
            Now that we've outlined what programming is, let's explore its relevance in the contemporary world. It's safe to say that programming is deeply intertwined with our daily lives in numerous ways, often more than we realize.
          </div>
          <div class="font-sora" node="[object Object]">
            The utilization of programming to enhance convenience can be observed across various domains, including business, entertainment, transportation, healthcare, agriculture, sports, politics, and beyond.
          </div>
          <!-- End Blockquote One -->


          <!-- Start Blockquote Two -->
          <blockquote class="rounded-br-2xl border-l-[5px] border-neutral-700 border-l-cyan-500 bg-neutral-200 py-3 pl-3 lg:pl-6 font-sora text-lg font-medium text-cyan-800 dark:bg-neutral-800 dark:text-cyan-200" node="[object Object]">
            <h2 class="text-xl font-medium dark:text-neutral-300" level="2" node="[object Object]">What are Programming Languages?</h2>
          </blockquote>
          <div class="font-sora" node="[object Object]">
            Programmers communicate instructions to computers through programming languages, which, like human languages such as English and Spanish, have syntax rules guiding the logic behind the code. These languages are typically classified into four distinct categories.
          </div>
          <ol class="font-sora list-decimal dark:text-neutral-300 space-y-3 pb-2 pl-5" depth="0" node="[object Object]">
            <li class="leading-snug text-[18px] font-medium">Machine Language</li>
              <div class="font-sora" node="[object Object]">
                You might have come across the phrase, "computers understand only 1s and 0s," referring to machine language, also known as machine code. It consists of binary digits (1s and 0s) interpreted directly by a computer's CPU for execution. Within a computer, transistors serve as tiny electric switches, toggling between on (1s) and off (0s) states. By reading combinations of these signals, the CPU generates the intended output. Machine code is considered a low-level language due to its direct correspondence with hardware. As a fun example, here's some machine code representing the word 'Hello'.
              </div>
              <h3 class="font-sora text-[18px] font-medium leading-snug dark:text-neutral-300" level="3" node="[object Object]">Machine Code Example:</h3>
              <div class="relative mx-auto">
                <div class="bg-code p-2 rounded-md">
                  <div class="flex justify-between">
                    <div class="overflow-x-auto flex items-center">
                      <pre id="code-1"><code class="language-yaml">{{ html_contents[0]|markdown|safe }}</code></pre>
                    </div>
                    <div class="left">
                      <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-1">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <br>
            <li class="leading-snug text-[18px] font-medium">Assembly Language (ASM)</li>
              <div class="font-sora" node="[object Object]">
                This code was introduced because machine code can be tedious and error-prone. Instead, code is written with commands that use symbols and characters. However, because computers can only execute 0s and 1s (machine code), programmers must use assemblers to translate assembly language into machine code before execution. Despite this, assembly language remains difficult for humans to understand and requires in-depth knowledge of computer memory and CPU processes to understand. Like machine code, assembly language is also referred to as low-level language.
              </div>
              <h3 class="font-sora text-[18px] font-medium leading-snug dark:text-neutral-300" level="3" node="[object Object]">Assembly Language Example:</h3>
              <div class="relative mx-auto">
                <div class="bg-code p-4 rounded-md">
                  <div class="flex justify-between">
                    <div class="overflow-x-auto">
                      <pre id="code-2"><code class="language-plaintext">{{ html_contents[1]|markdown|safe }}</code></pre>
                    </div>
                    <div class="left">
                      <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-2">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <br>
            <li class="leading-snug text-[18px] font-medium">Mid-Level Language</li>
              <div class="font-sora" node="[object Object]">
                When we move from low-level programming languages, we will encounter high-level programming languages ​​that people are more familiar with. However, it is worth dividing these modern languages ​​into two, starting with intermediate programming languages. This language allows us to write more easily while still being able to control the hardware directly. Examples of intermediate programming languages ​​include C, Pascal, and Cobol. Here is a C code snippet to print 'Hello' to the screen.
              </div>
              <h3 class="font-sora text-[18px] font-medium leading-snug dark:text-neutral-300" level="3" node="[object Object]">Mid-Level Language Example:</h3>
              <div class="relative mx-auto">
                <div class="bg-code p-4 rounded-md">
                  <div class="flex justify-between">
                    <div class="overflow-x-auto">
                      <pre id="code-3"><code class="language-cpp">{{ html_contents[2]|markdown|safe }}</code></pre>
                    </div>
                    <div class="left">
                      <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-3">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <br>
            <li class="leading-snug text-[18px] font-medium">High-Level Language</li>
              <div class="font-sora" node="[object Object]">
                Like intermediate programming languages, when we talk about programming languages, we usually mean this. Most of the computer programmers use this language in their daily activities. High-level programming languages ​​use special compilers to translate code into machine code, allowing computers to execute the code's logic. These languages ​​have syntax that is easy for humans to understand and include common programming languages ​​such as Python, JavaScript, and PHP. We also include an example of JavaScript code that prints the word 'Hello' to the console screen.
              </div>
              <h3 class="font-sora text-[18px] font-medium leading-snug dark:text-neutral-300" level="3" node="[object Object]">High-Level Language Example:</h3>
              <div class="relative mx-auto">
                <div class="bg-code p-2 rounded-md">
                  <div class="flex justify-between">
                    <div class="overflow-x-auto flex items-center">
                      <pre id="code-4"><code class="language-javascript">{{ html_contents[3]|markdown|safe }}</code></pre>
                    </div>
                    <div class="left">
                      <button class="code rounded-lg border border-neutral-700 p-2 hover:bg-neutral-800" type="button" aria-label="Copy to Clipboard" data-umami-event="Click Copy Code" data-clipboard-target="#code-4">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="text-neutral-400" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </ol>
          <!-- End Blockquote Two -->

          
          <!-- Start Blockquote Three -->
          <blockquote class="rounded-br-2xl border-l-[5px] border-neutral-700 border-l-cyan-500 bg-neutral-200 py-3 pl-3 lg:pl-6 font-sora text-lg font-medium text-cyan-800 dark:bg-neutral-800 dark:text-cyan-200" node="[object Object]">
            <h2 class="text-xl font-medium dark:text-neutral-300" level="2" node="[object Object]">What’s the Difference Between Coding & Programming?</h2>
          </blockquote>
          <div class="font-sora" node="[object Object]">
            We often hear the terms 'coding' and 'programming' used interchangeably, but there are several differences to note.
          </div>
          <ol class="font-sora list-disc dark:text-neutral-300 space-y-3 pb-2 pl-5" depth="0" node="[object Object]">
            <li class="leading-snug text-[18px] font-medium">Coding</li>
              <div class="font-sora" node="[object Object]">
                Is a core element of programming that involves translating the logic of a program so that it can be understood and executed by a computer. It involves writing the lines of code that make up the program, so it focuses more on using the syntax of the programming language to communicate with the computer.
              </div>
            <li class="leading-snug text-[18px] font-medium">Programming</li>
              <div class="font-sora" node="[object Object]">
                More than just writing code. It usually includes other aspects of software creation, such as identifying program requirements, translating requirements into code, debugging, testing, creating documentation, and more.
              </div>
          </ol>
          <div class="font-sora" node="[object Object]">
            The relationship between coding and programming can be compared to writing a novel. Coding is similar to writing the sentences and paragraphs that make up a novel, while programming involves creating broader elements, such as plot, setting, character development, narrative, and so on.
          </div>
          <!-- End Blockquote Three -->


          <!-- Start Blockquote Four -->
          <blockquote class="rounded-br-2xl border-l-[5px] border-neutral-700 border-l-cyan-500 bg-neutral-200 py-3 pl-3 lg:pl-6 font-sora text-lg font-medium text-cyan-800 dark:bg-neutral-800 dark:text-cyan-200" node="[object Object]">
            <h2 class="text-xl font-medium dark:text-neutral-300" level="2" node="[object Object]">What Are the Benefits of Programming?</h2>
          </blockquote>
          <div class="font-sora" node="[object Object]">
            Why should you care about programming? Because the benefits are huge!
          </div>
          <ol class="font-sora list-decimal dark:text-neutral-300 space-y-3 pb-2 pl-5" depth="0" node="[object Object]">
            <li class="leading-snug">
              Work faster: With programming, you can harness the speed of computers to quickly solve complex problems, such as instant messaging applications.
            </li>
            <li class="leading-snug">
              Convenience: Programming creates convenience in everyday life, such as ordering food online and delivery in minutes.
            </li>
            <li class="leading-snug">
              Work 24/7: Computers can work non-stop, allowing you to write programs that handle tedious tasks, leaving you free time for creative pursuits.
            </li>
            <li class="leading-snug">
              Career opportunities: Learning programming opens the door to a variety of exciting careers, such as mobile app development, game development, data science, and artificial intelligence.
            </li>
            <li class="leading-snug">
              Logical & problem solving skills: Programming trains you to solve problems in a logical and efficient manner, improving your analytical skills.
            </li>
            <li class="leading-snug">
              Have fun building cool things: With programming, you can create your own games or apps, giving you the opportunity to be creative and share your work with the world.
            </li>
          </ol>
          <!-- End Blockquote Four -->

          <!-- Start Blockquote Five -->
          <blockquote class="rounded-br-2xl border-l-[5px] border-neutral-700 border-l-cyan-500 bg-neutral-200 py-3 pl-3 lg:pl-6 font-sora text-lg font-medium text-cyan-800 dark:bg-neutral-800 dark:text-cyan-200" node="[object Object]">
            <h2 class="text-xl font-medium dark:text-neutral-300" level="2" node="[object Object]">How to Learn Programming?</h2>
          </blockquote>
          <div class="font-sora" node="[object Object]">
            If you want to learn programming, here are some simple steps you can take:
          </div>
          <ol class="font-sora list-disc dark:text-neutral-300 space-y-3 pb-2 pl-5" depth="0" node="[object Object]">
            <li class="leading-snug">
              Determine your goals: Decide why you want to learn programming, whether for a new career, a personal project, or just a hobby.
            </li>
            <li class="leading-snug">
              Choose a programming language: Start with just one programming language, don't learn too many at once.
            </li>
            <li class="leading-snug">
              Find learning resources: Choose a learning method that suits your style, such as online courses, books, or bootcamps.
            </li>
            <li class="leading-snug">
              Build projects: Start building projects as soon as possible to apply what you learn.
            </li>
            <li class="leading-snug">
              Join a community: Find a programming community that can provide support and assistance during your learning journey.
            </li>
          </ol>
          <!-- End Blockquote Five -->


          <!-- Start Blockquote Six -->
          <blockquote class="rounded-br-2xl border-l-[5px] border-neutral-700 border-l-cyan-500 bg-neutral-200 py-3 pl-3 lg:pl-6 font-sora text-lg font-medium text-cyan-800 dark:bg-neutral-800 dark:text-cyan-200" node="[object Object]">
            <h2 class="text-xl font-medium dark:text-neutral-300" level="2" node="[object Object]">Conclusion</h2>
          </blockquote>
          <div class="font-sora" node="[object Object]">
            After finishing reading this blog, now you understand what is meant by programming. This understanding allows us to explore the differences between coding and programming before learning the different types of programming languages, ranging from low-level languages ​​such as machine code and assembly language, to high-level languages ​​such as mid- and high-level languages.
          </div>
          <div class="font-sora" node="[object Object]">
            Apart from that, this article also provides insight into the benefits of programming and some tips and suggestions for starting to learn programming. With a wide range of topics, we hope this blog will not only interest you but also help you understand programming in a simple way. We hope you now feel ready and excited to explore more deeply the world of programming.
          </div>
          <!-- End Blockquote Six -->


          <div class="my-10 space-y-2">
            <h6 class="text-lg font-medium">Tags:</h6>
            <div class="flex flex-wrap gap-2 pt-2">
              <div class="rounded-full bg-neutral-200 px-4 py-1 text-[14px] font-medium text-neutral-600 dark:bg-neutral-700 dark:text-neutral-200">
                <span class="mr-1 font-semibold">#</span>Programming
              </div>
              <div class="rounded-full bg-neutral-200 px-4 py-1 text-[14px] font-medium text-neutral-600 dark:bg-neutral-700 dark:text-neutral-200">
                <span class="mr-1 font-semibold">#</span>Programmer
              </div>
              <div class="rounded-full bg-neutral-200 px-4 py-1 text-[14px] font-medium text-neutral-600 dark:bg-neutral-700 dark:text-neutral-200">
                <span class="mr-1 font-semibold">#</span>Coding
              </div>
            </div>
          </div>
          <div class="border-t border-gray-200 dark:border-neutral-800 !my-10" data-testid="breakline"></div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}